body {
  color: black;
  font-family: Lucida,Courier,monospace;
  margin: 10px;
  background-image: image(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

div {
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
  font-family: monospace;
  font-size: 4em;
}


img {
  margin: 50;
  padding: 20px;
  border-radius: 250px;
  size: 400px;
}


h2 {
  color: black;
  font-family: monospace;
}
